/*************************************************************/

body{
	background-color: #a6b5a6;
}

.row{
	margin: 0;
}
/*--------------------------------------------------------------*/

#container{
	text-align: center;
}

/*--------------------------------------------------------------*/
/*
#status_partida{
	position: absolute;
	border: 3px solid #999;
	border-radius: 10px;
	width: 350px;
	height: 750px;
	text-align: center;
}
*/

.area_status{
	border-top: 2px solid;
	padding: 10px;
}

#erro_mover_captura{
	font-weight: bold;
	color: red;
}

.pecas_capturadas_brancas{
	position: relative;
	top: 5%;
}

.pecas_capturadas_pretas{
	position: relative;
	top: 5%;
}

.titulos_status{
	font-weight: bold;
}

#conteudo_ultima_peca_selecionada{
	position: relative;
	top: 20px;
}

.tabela_status{
	border: 1px solid;
	padding: 5px;
}

.tabela_status td{
	
}

/*--------------------------------------------------------------*/

.casa{
	height: 3em; 
	width: 3em; 
}

/*
.topo_menu{
	height: 150px; 
	width: 70px; 
	border: 1px solid;
}
*/

/*
.casa_cor_secundaria{
	background-color: #AAAAAA;
}

.casa_cor_primaria{
	background-color: #588658;
}
*/
/*-----------------------------------*/
.tema_default_primaria{
	background-color: #588658;
}

.tema_default_secundaria{
	background-color: #AAAAAA;
}

/*-----------------------------------*/

.tema_laranja_primaria{
	background-color: #cc880c;
}

.tema_laranja_secundaria{
	background-color: #AAAAAA;
}

/*-----------------------------------*/

.tema_azul_primaria{
	background-color: #3b3b84;
}

.tema_azul_secundaria{
	background-color: #AAAAAA;
}

/*--------------------------------------------------------------*/

#area_admin{
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 24.1em; 
	margin: 0 auto;
}

#area_admin #area_admin_hide_show{
	border: 3px solid #000;
	border-radius: 5px;
	height: 35px;
	cursor: pointer;
	color: black;
	font-weight: bold;
}

#area_admin #area_admin_hide_show #div_titulo_id_partida{
	position: relative;
	top: 0.2em;
}

#area_admin #area_admin_topo{
	border: 1px solid;
	padding: 5px;
}

#area_admin #area_admin_topo #adicionar_adversario_partida{
	position: relative;
	border: 3px solid green;
	border-radius: 10px;
	height: 30%;
	font-size: 0.6em;
	padding: 10px;
	display: none;
}

#area_admin #area_admin_topo #confirmacao_finalizar_partida{
	position: relative;
	border: 3px solid red;
	border-radius: 10px;
	height: 30%;
	font-size: 0.6em;
	padding: 10px;
	display: none;
}

#area_admin #area_admin_topo #confirmacao_jogada_anterior{
	position: relative;
	border: 3px solid blue;
	border-radius: 10px;
	height: 30%;
	font-size: 0.6em;
	padding: 10px;
	display: none;
}

#area_admin #area_admin_topo  #area_lista_temas{
	position: relative;
	border: 3px solid #999;
	border-radius: 10px;
	height: 30%;
	padding: 10px;
}

#area_admin #area_admin_topo #nova_partida{
	position: relative;
	cursor: pointer;
	border: 3px solid green;
	padding: 2px;
	width: 1.5em;
}

#area_admin #area_admin_topo #finalizar_partida{
	cursor: pointer;
	margin: 0 auto;
	display: none;
	border: 3px solid red;
	padding: 2px;
	width: 1.4em;
}

#area_admin #area_admin_topo #sair_partida{
	position: relative;
	right: 0%;
	cursor: pointer;
	width: 1.5em;
}

#area_admin #area_admin_conteudo{

}

#area_admin #area_admin_jogador_branca_status, #area_admin_jogador_preta_status{
	position: relative;	
	padding: 0.2em;
	border-radius: 10px;
}

#area_admin #area_admin_jogador_branca{
	border-radius: 10px;
}

#area_admin #area_admin_jogador_preta{
	border-radius: 10px;
}

#area_admin #area_partidas_em_andamento{
	text-align: left;
	min-height: 2.5em;
}

#area_btn_atualizar_partidas_em_andamento{

}

#area_btn_temas{
	position: relative;
	top: -2.1em;
	float: right;
}

#area_btn_temas button{
	color: black;
}

#btn_atualizar_partidas_em_andamento{
	position: absolute;
}

#area_admin #area_partidas_em_andamento .entrar_partida{
	font-size: 0.8em;
	padding: 0.5em;
	margin-left: 0.1em;
	margin-right: 0.1em;
}


#area_admin #area_partidas_em_andamento .box_partidas_em_andamento{
	text-align: center;
}


#area_admin #area_partidas_em_andamento .btn_jogada_anterior, .btn_jogada_proxima{
	font-size: 0.7em;
	padding: 0.7em;
}

/*--------------------------------------------------------------*/

table.tabuleiro{
	position: relative;
	margin: 0 auto;
}

table.tabuleiro th{
	border: 1px solid;
	padding: 5px;
}

table.tabuleiro td{
	text-align: center;
	border: 1px solid;
	padding: 5px;
}

table.tabuleiro img{
	position: relative;
	left: -0.1em;
	top: -0.1em;
	width: 40px;
}

.letra_casa{
	position: relative;
	left: 0px;
	top: 0;
	float: left;
	z-index: 11;
}

/*--------------------------------------------------------------*/

#link_partida{
	width: 90%;
	border-radius: 5px;
	margin-top: 10px;
}

#btn_link{
	position: relative;
	top: 0px;
	background-color: #999;
	border-radius: 10px;
	width: 150px;
	padding: 10px;
	cursor: pointer;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

#btn_link:hover{
	background-color: #b9b3b3;
}

/*--------------------------------------------------------------*/

#area_chat_hide_show{
	position: relative;
	top: 0.5em;
	border: 3px solid #000;
	border-radius: 5px;
	width: 24em;
	height: 2em;
	cursor: pointer;
	margin: 0 auto;
}

#area_chat{
	position: relative;
	top: 0.5em;
	width: 24.1em;
	border: 1px solid;
	border-radius: 5px;
	margin: 0 auto;
	margin-bottom: 20px;
}

#input_enviar_mensagem{
	height: 1em;
	padding: 10px;
	border-radius: 5px;
}

#btn_enviar_mensagem{
	width: 4em;
	height: 2em;
	padding: 0;
	margin: 0;
}

#area_mensagens{
	margin: 10px;
	overflow-y: scroll;
	min-height: 50px;
	max-height: 100px;
	border: 1px solid;
	border-radius: 5px;
	text-align: left;
}

.span_mensagem{
	position: relative;
	left: 0.5em;
}

/*--------------------------------------------------------------*/


@media only screen and (max-width: 400px) {
	
	#area_admin{
		width: 23em; 
	}

	table.tabuleiro img{
		position: relative;
		top: 0.1em;
		width: 30px;
	}

	.casa{
		height: 2.8em; 
		width: 2.8em; 
	}

	#area_chat_hide_show{
		width: 23em;
	}

	#area_chat{
		width: 23em;	
	}
}

@media only screen and (max-width: 381px) {
	#area_admin{
		width: 21em;
	}

	.casa{
		height: 2.6em; 
		width: 2.6em; 
	}

	#area_chat_hide_show{
		width: 21em;
	}

	#area_chat{
		width: 21em;
	}
}

@media only screen and (max-width: 350px) {

	#area_admin{
		width: 20em;
	}

	table.tabuleiro img{
		width: 25px;
	}

	.casa{
		height: 2.4em; 
		width: 2.4em; 
	}

	#area_chat_hide_show{
		width: 20em;
	}

	#area_chat{
		width: 20em;	
	}
}

@media only screen and (max-width: 330px) {
	#area_admin{
		width: 19em;
	}

	.casa{
		height: 2.3em; 
		width: 2.3em; 
	}

	#area_chat_hide_show{
		width: 19em;
	}

	#area_chat{
		width: 19em;	
	}
}

@media only screen and (max-width: 330px) {
	#area_admin{
		width: 18em;
	}

	.casa{
		height: 2.2em; 
		width: 2.2em; 
	}

	#area_chat_hide_show{
		width: 18em;
	}

	#area_chat{
		width: 18em;
	}
}

@media only screen and (max-width: 300px) {
	table.tabuleiro img{
		width: 25px;
	}
}

/*************************************************************/