/*************************************************************/

#container{
	text-align: center;
}

/*--------------------------------------------------------------*/

#status_partida{
	position: absolute;
	border: 3px solid #999;
	border-radius: 10px;
	width: 350px;
	height: 750px;
	text-align: center;
}

.area_status{
	border-top: 2px solid;
	padding: 10px;
}

#erro_mover_captura{
	font-weight: bold;
	color: red;
}

.pecas_capturadas_brancas{
	position: relative;
	top: 5%;
}

.pecas_capturadas_pretas{
	position: relative;
	top: 5%;
}

.titulos_status{
	font-weight: bold;
}

#conteudo_ultima_peca_selecionada{
	position: relative;
	top: 20px;
}

.tabela_status{
	border: 1px solid;
	padding: 5px;
}

.tabela_status td{
	
}

/*--------------------------------------------------------------*/

.casa{
	height: 3em; 
	width: 3em; 
}

.topo_menu{
	height: 150px; 
	width: 70px; 
	border: 1px solid;
}


.casa_cor_secundaria{
	background-color: #AAAAAA;
}

.casa_cor_primaria{
	background-color: #588658;
}

/*--------------------------------------------------------------*/

#area_admin{
	border: 1px solid #ccc;
	border-radius: 5px; 
	width: 25em; 
	margin: 0 auto;
}

#area_admin #area_admin_hide_show{
	height: 10px;
	background-color: #4e82d2;
	cursor: pointer;
}

#area_admin #area_admin_topo{

}

#area_admin #area_admin_topo #nova_partida{
	position: relative;
	left: 0%;
	cursor: pointer;
	width: 4%;
}


#area_admin #area_admin_topo #sair_partida{
	position: relative;
	right: 0%;
	cursor: pointer;
	width: 5%;
}



#area_admin #area_admin_conteudo{
	position: relative;
}

/*--------------------------------------------------------------*/

table.tabuleiro{
	margin: 0 auto;
}

table.tabuleiro th{
	border: 1px solid;
	padding: 5px;
}

table.tabuleiro td{
	text-align: center;
	border: 1px solid;
	padding: 5px;
}

/*--------------------------------------------------------------*/

#link_partida{
	width: 90%;
	border-radius: 5px;
	margin-top: 10px;
}

#btn_link{
	position: relative;
	top: 0px;
	background-color: #999;
	border-radius: 10px;
	width: 150px;
	padding: 10px;
	cursor: pointer;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

#btn_link:hover{
	background-color: #b9b3b3;
}

/*************************************************************/