body{
	background-color: #a6b5a6;
}

#container{
	margin-top: 10px;
	text-align: center;
	height: 10em;
}

#conteudo{
	border: 2px solid black;
	border-radius: 10px;
	width: 20em;
	height: 10em;
	padding: 20px;
	margin: 0 auto;
}

label{
	font-weight: bold;
	font-size: 2em;
}

#input_usuario{
	border-radius: 5px;
	width: 20em;
	margin-top: 40px;
	background-color: #dae1da;
}

#btn_login{
	border-radius: 5px;
	width: 10em;
	margin-top: 40px;
	padding: 5px;
	cursor: pointer;
	font-weight: bold;
	font-size: 1em;
}

#btn_login:hover{
	background-color: #999;
}

#mensagem_erro{
	display: none;
	position: relative;
	top: 1.4em;
	border: 1px solid red;
	border-radius: 5px;
	padding: 2px;
	color: red;
}