<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Game Xadrez</title>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">

</head>
<body>

	<div id="container">
		
		{% if dados_returno %}

			<input type="hidden" name="get_usuario" id="get_usuario" value="{{dados_returno['usuario']}}">
			<input type="hidden" name="get_id_partida" id="get_id_partida" value="{{dados_returno['id_partida']}}">
			<input type="hidden" name="get_jogador_da_vez" id="get_jogador_da_vez" value="{{dados_returno['jogador_da_vez']}}">
			<input type="hidden" name="get_cor_da_vez" id="get_cor_da_vez" value="{{dados_returno['cor_da_vez']}}">
			<input type="hidden" name="get_usuario_cor" id="get_usuario_cor" value="{{dados_returno['usuario_cor']}}">
			
			<input type="hidden" name="get_jogador_branca" id="get_jogador_branca" value="{{dados_returno['jogador_branca']}}">
			<input type="hidden" name="get_jogador_preta" id="get_jogador_preta" value="{{dados_returno['jogador_preta']}}">

			{% if dados_returno['visitante'] %}
				<input type="hidden" name="get_visitante" id="get_visitante" value="{{dados_returno['visitante']}}">
			{% else %}
				<input type="hidden" name="get_visitante" id="get_visitante" value="false">
			{% endif %}

		{% else %}
			<input type="hidden" name="get_usuario" id="get_usuario" value="">
			<input type="hidden" name="get_id_partida" id="get_id_partida" value="">
			<input type="hidden" name="get_jogador_da_vez" id="get_jogador_da_vez" value="">
			<input type="hidden" name="get_cor_da_vez" id="get_cor_da_vez" value="">
			<input type="hidden" name="get_usuario_cor" id="get_usuario_cor" value="">

			<input type="hidden" name="get_jogador_branca" id="get_jogador_branca" value="">
			<input type="hidden" name="get_jogador_preta" id="get_jogador_preta" value="">
		{% endif %}
		
		<div id="area_admin">

			<div id="area_admin_hide_show" onclick="func_area_admin_hide_show()"></div>

			<div id="area_admin_topo">

				<div id="adicionar_adversario_partida">
					<div>
						<label style="font-size: 2em;">Adversário: </label>
					</div>
					<div>
						<input type="text" name="usuario_adversario" id="usuario_adversario" style="width: 15em; height: 2em; border-radius: 5px; font-size: 1.2em;" >
					</div>
					<div style="margin-top: 0.5em;">
						<button type="button" class="btn btn-secondary" id="nova_partida_confirmar" style="font-size: 1.2em">Confirmar</button>
						<button type="button" class="btn btn-secondary" id="nova_partida_cancelar" style="font-size: 1.2em">Cancelar</button>
					</div>
				</div>

				<div id="confirmacao_finalizar_partida">
					<div>
						<label style="font-size: 2em; font-weight: bold;">Finalizar a Partida?</label>
					</div>
					<div style="margin-top: 0.5em;">
						<button type="button" class="btn btn-secondary" id="finalizar_partida_confirmar" style="font-size: 1.5em">Finalizar</button>
						<button type="button" class="btn btn-secondary" id="finalizar_partida_cancelar" style="font-size: 1.5em">Cancelar</button>
					</div>
				</div>

				<div id="confirmacao_jogada_anterior">
					<div>
						<label style="font-size: 2em; font-weight: bold;">Refazer a Jogada Atual?</label>
					</div>
					<div style="margin-top: 0.5em;">
						<button type="button" class="btn btn-secondary" id="jogada_anterior_confirmar" style="font-size: 1.5em">Confirmar</button>
						<button type="button" class="btn btn-secondary" id="jogada_anterior_cancelar" style="font-size: 1.5em">Cancelar</button>
					</div>
				</div>

				<div id="area_lista_temas" style="display: none">
					<div id="lista_temas">

						<button type="button" class="btn tema_default_primaria" id="resete_tema">.</button>

						<button type="button" class="btn tema_laranja_primaria" id="btn__tema_laranja_primaria btn__tema_laranja_secundaria">.</button>
						
						<button type="button" class="btn tema_azul_primaria" id="btn__tema_azul_primaria btn__tema_azul_secundaria">.</button>

					</div>
				</div>

				<div class="row">

					<div class="row" style="text-align: center;">
						<td>
							<span id="titulo_id_partida" style="font-weight: bold;"></span>
						</td>
					</div>
					<div class="row">
						
						<div class="col">
							<img src="/static/img/plus.svg" id="nova_partida">	
						</div>

						<div class="col">
							<img src="/static/img/excluir.svg" id="finalizar_partida">
						</div>

						<div class="col">
							<img src="/static/img/door-closed.svg" id="sair_partida">
						</div>
					</div>
				</div>
				
			</div>

			<div id="area_admin_conteudo" style="display: block;">

				<table class="table" style="margin-bottom: 0px;">
					
					<tbody>
						<!--JOGADOR BRANCA-->
						<tr>
							<td>
								<span id="area_admin_jogador_branca_status">&nbsp;</span>
								<span id="area_admin_jogador_branca"></span>
							</td>
							<td>
								<img src="/static/img/pecas/torre_branca.png" alt="icone" width="25" height="25">
								<span id="status__torre_branca" class="pecas_capturadas">0</span>
							</td>
							<td>
								<img src="/static/img/pecas/cavalo_branca.png" alt="icone" width="25" height="25">
								<span id="status__cavalo_branca" class="pecas_capturadas">0</span>
							</td>
							<td>
								<img src="/static/img/pecas/bispo_branca.png" alt="icone" width="25" height="25">
								<span id="status__bispo_branca" class="pecas_capturadas">0</span>
							</td>
							<td>
								<img src="/static/img/pecas/rainha_branca.png" alt="icone" width="25" height="25">
								<span id="status__rainha_branca" class="pecas_capturadas">0</span>
							</td>
							<td>
								<img src="/static/img/pecas/peao_branca.png" alt="icone" width="25" height="25">
								<span id="status__peao_branca" class="pecas_capturadas">0</span>
							</td>
						</tr>

						<!--JOGADOR PRETA-->
						<tr>
							<td>
								<span id="area_admin_jogador_preta_status">&nbsp;</span>
								<span id="area_admin_jogador_preta"></span>
							</td>
							<td>
								<img src="/static/img/pecas/torre_preta.png" alt="icone" width="25" height="25">
								<span id="status__torre_preta" class="pecas_capturadas">0</span>
							</td>
							<td>
								<img src="/static/img/pecas/cavalo_preta.png" alt="icone" width="25" height="25">
								<span id="status__cavalo_preta" class="pecas_capturadas">0</span>
							</td>
							<td>
								<img src="/static/img/pecas/bispo_preta.png" alt="icone" width="25" height="25">
								<span id="status__bispo_preta" class="pecas_capturadas">0</span>
							</td>
							<td>
								<img src="/static/img/pecas/rainha_preta.png" alt="icone" alt="icone" width="25" height="25">
								<span id="status__rainha_preta" class="pecas_capturadas">0</span>
							</td>
							<td>
								<img src="/static/img/pecas/peao_preta.png" alt="icone" width="25" height="25">
								<span id="status__peao_preta" class="pecas_capturadas">0</span>
							</td>
						</tr>
					</tbody>

				</table>

				<div id="area_partidas_em_andamento">
					
					<div id="area_btn_atualizar_partidas_em_andamento">
						<button type="button" class="btn btn-primary" id="btn_atualizar_partidas_em_andamento">
							<img src="/static/img/atualizar.svg">
						</button>
					</div>

					<span style="clear: both;"></span>

					<div class="col" id="area_partidas_em_andamento_itens">
						
					</div>

					<div id="area_btn_temas">
						<button type="button" class="btn btn-primary" id="btn_temas">Temas</button>
					</div>

				</div>
				<div style="clear: both"></div>
			
			</div>

		</div>

		<div class="area_tabuleiro">
			<table id="table" class="tabuleiro"></table>
		</div>


		<div id="area_chat_hide_show" onclick="func_area_chat_hide_show()">
			<span style="position: relative; top: 0.1em;">Chat</span>
		</div>
		<div id="area_chat" style="display: none;">

			<div id="area_mensagens">
				
			</div>

			<div class="area_enviar_mensagem">
				<input type="text" name="input_mensagem" id="input_enviar_mensagem">
				<button type="button" class="btn btn-secondary" id="btn_enviar_mensagem">Enviar</button>
			</div>

		</div>

	</div>

	<script src="{{url_for('static', filename='js/index.js')}}"></script>

</body>
</html>