<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Game Xadrez</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
	<h1>Xadrez</h1>

	<span id="partida" style="display: none;">{{partida}}</span>

	<table>
		
		<tr>
		{% for i in rows %}
			<tr>
				{% for j in range(8) %}
					{% if i % 2 == j % 2 %}
						<td onclick="valorCasa(this)" id="{{letras[j]}}{{i}}" style="height: 70px; width: 70px; background-color: #AAAAAA"></td>
					{% else %}
						<td onclick="valorCasa({{letras[j]}}{{i}})" id="{{letras[j]}}{{i}}" style="height: 70px; width: 70px; background-color: #333333"></td>
					{% endif %}
				{% endfor %}
			</tr>
		{% endfor %}
		</tr>

	</table>

	<script src="{{url_for('static', filename='js/index.js')}}"></script>

</body>
</html>